<% if errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(errors.count, "error") %> :</strong>
 
    <ul>
    <% errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
