/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import "twitter/bootstrap";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

#wrap > .container {
  padding: 60px 15px 30px;
}
.container > p {
  margin-top: 20px;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#avatar-btn > a {
	padding-top: 11px;
	padding-bottom: 11px;
  padding-left: 1em;
}
