<div id="footer">
  <div class="container">
    <p class="text-muted credit pull-right">&copy; Peter Golm 2013</p>
    <p class="text-muted">Version: <%= AnsibleWebInventory::Application.config.version %></p>
  </div>
</div>